.scoreboardStyled {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .scores {
    background: #123252;
    border: 3px solid #79A2E2;
    border-radius: 1rem;

    font-size: 4rem;
    color: #E1EBF7;
    text-shadow:
      3px 3px 3px #000,
      -3px 3px 3px #000,
      -3px -3px 0 #000,
      3px -3px 0 #000;

    padding: .5rem 4rem;
    padding-bottom: .75rem;
    padding-right: 4.5rem;
  }
}