$blue-gradient: linear-gradient(180deg, rgba(98, 145, 201, 1) 0%, rgba(52, 117, 193, 1) 9%, rgba(50, 122, 206, 1) 81%, rgba(19, 64, 116, 1) 100%);
$turquise-gradient: linear-gradient(180deg, rgba(98, 201, 199, 1) 0%, rgba(52, 193, 191, 1) 9%, rgba(50, 206, 204, 1) 81%, rgba(19, 116, 114, 1) 100%);

$light-blue: #4E92E0;

$button-border: #87B2F7;